[2018-09-30 20:49] zwacky opened #34 "can't use @modus/ionic-vue together with strict: true tsconfig option"
Hey all

When I try importing `@modus/ionic-vue` with `"strict": true` enabled in my tsconfig.json, it will throw the following error.

[code]

P.s. thx for initiative in creating the vue bindings 👍

[2018-10-01 12:28] grgur commented on #34
@zwacky did you try something like `import * as ionicVue from @modus/ionic-vue`?

We could also create an empty typings file and default the module to `any` type until we finish Typescript integration

[2018-10-01 12:40] zwacky commented on #34
Yes, `import * as ionicVue from @modus/ionic-vue` also results in the same error message I posted above.

I think the `any` default approach you suggested sounds like a good solution for now.

[2018-10-01 13:00] michaeltintiuc commented on #34
@zwacky this could prove to be helpful with less code: https://stackoverflow.com/questions/22842389/how-to-import-a-js-library-without-definition-file-in-typescript-file

[2018-10-03 17:18] am opened #37 "Compatibility with ionic 4 cli"
Reading about that the new beta ionic 4 has no constraints regarding the frontend framework to use, I found this project. Looking at the readme I could not find any mentions of how to bootstrap a new project, and I'm doubting if there is any way to bootstrap a new app using `ionic-vue`.
I was expecting to find here a template for ionic4 cli, that would enable me to do:
[code]
But I think this is n

[2018-10-03 21:18] zwacky opened #38 "Doc: proper way of passing a component to a ionic controller"
Hey all, I've been playing around with the ionic controllers, to be specific with `popoverController`.

Since I'm new to vue—and I see that you can do things in more than just one way—I ended up with the following solution below. On my way there I had these problems:
- didn't know exactly how to pass a vue component instead of a simple html template
- `this.$store` was `undefined` in passed compon

[2018-10-04 11:27] am commented on #37
Thank you @grgur from the prompt reply. [Those](https://github.com/ionic-team/ionic/pull/15801) are great news! Great work by the way.

[2018-10-04 13:04] michaeltintiuc commented on #38
Thanks @zwacky , I don't mind this at all, github works for the time being, I will investigate this as well, but to save you time, try passing `NavBarVolumeSliderPopover` directly to component, that should work, as well as passing a lazy-loaded component with webpack, ie:
[code]

[2018-10-04 13:18] zwacky commented on #38
I tried that one but got vuex errors of not being able to do mapState and stuff.
I'm using vuex in that imported component `NavBarVolumeSliderPopover` and with the wepack import approach I won't have access to `this.$store` in the component. That's why I'm using `parent: this,` on the definition part... feels weird that I have to write it explicitly :S

[2018-10-04 13:43] michaeltintiuc commented on #38
It does feel weird, what about passing the component directly?
``js
import NavBarVolumeSliderPopover from 'path/to/NavBarVolumeSliderPopover.vue'
...
this['$ionic'].popoverController
	.create({
		component: NavBarVolumeSliderPopover,
		translucent: true,
		event,
	})
	.then(modal => modal.present());
[code]

[2018-10-08 14:56] #34 closed

[2018-10-08 15:00] michaeltintiuc opened #42 "Update tests to use TypeScript"
Update tests to use TypeScript

[2018-10-08 19:53] michaeltintiuc commented on #38
@zwacky if you could share your code, it could help debug a particular way of doing things :)

[2018-10-08 21:31] zwacky commented on #38
Sure ://github.com/zwacky/game-music-player/blob/next-vue/src/common/components/navbar/NavBarVolumeSlider.vue#L20-L30

[2018-10-09 15:54] michaeltintiuc commented on #38
Hey @zwacky , first of all, thanks for this bug submission, it's really awesome that you caught this edge-case. I dug around your code and you basically have 3 options here, due to the fact [how Vuex adds the `$store` property to Vue objects](https://github.com/vuejs/vuex/blob/dev/src/mixin.js#L22)

TLDR; The issue is that when you pass a component to ionic-vue it creates a new controller from a V

[2018-10-11 14:11] michaeltintiuc commented on #38
@zwacky on the same note, turns out all of the above are good options and not "hacks":
https://github.com/buefy/buefy/issues/55

[2018-10-14 21:13] #38 closed

[2018-10-18 13:39] am opened #47 "Compatibility with cordova app"
The provided example app (Beep) is built using capacitor, like ionic 4 apps. My doubt is if cordova apps can take advantage of ionic-vue using a regular cordova build.

I've been playing around and I could somehow integrate with cordova, somethings fail, like tabs component don't render well, but I don't know if this is supported or if it is some problem that an app using capacitor won't have.

[2018-10-18 13:53] michaeltintiuc commented on #47
I don't think capacitor/cordova are related to ionic-vue, the tabs component is still at an early stage, so it depends on how you implemented it, you can check [this example](https://github.com/ModusCreateOrg/ionic-vue/blob/master/cookbook/tabs.html) for a working demo. But there is work to be done to make it work with different options.

[2018-10-18 14:08] am commented on #47
Hi @michaeltintiuc ,

Thanks for the prompt response. Good news that capacitor is out of the equation. Please bear with me since I'm trying to have a full picture of how this works. I've used the same setup options on the ionic 4 example in the docs (I've used devtools on the documentation page and hacked the html directly) then I've tried to use the same options the example application where I us

[2018-10-18 15:40] michaeltintiuc commented on #47
@am if you could share your usage of tabs I could take a look at it

[2018-10-18 16:12] am commented on #47
@michaeltintiuc I was isolating the issue on codepen so I could share, here it goes:

ionic-vue:
https://codepen.io/a--m/pen/LgdqYY?editors=1010

ionic-js:
https://codepen.io/a--m/pen/mzxvWW?editors=1010

And the other case is editing the example on [ionic documentation](https://beta.ionicframework.com/docs/api/tabs/) since I cannot do a codepen here goes a snapshot:
![screen shot 2018-10-18 at 17

[2018-10-19 13:51] am opened #48 "How to dismiss a modal using the modalController"
Following the example found in [cookbook/ionic-controllers.html](https://github.com/ModusCreateOrg/ionic-vue/blob/master/cookbook/ionic-controllers.html#L82-L92):

[code]

How could I bind the inner button to the `dismiss()` action?

[2018-10-19 14:58] michaeltintiuc commented on #48
good point @am I'll update the docs shortly, you should be able to do this if there's only one modal
[code]

If you have multiple you can either get them by ID, as per Ionic docs or store the returned value into a variable

[2018-10-19 15:30] am commented on #48
That would be great @michaeltintiuc !

Diggging in ionic docs I'm not sure how does this blend with `ionic-vue`. In [Ionic docs](https://github.com/ionic-team/ionic/blob/master/core/src/components/modal/usage/angular.md) I see:
[code]

What is the `modal.page`? It leads to a dead link, so I cannot fully understand what file format is that. It would be good if we could set as component a `vue` file

[2018-10-19 15:34] michaeltintiuc commented on #48
There's no difference between using `.vue` files or plain JS, by docs I meant see the available methods for modal, they are all supported.

[2018-10-19 15:35] michaeltintiuc commented on #48
`modal.page` is just the component they are showing, same as `component.template` in Vue, you can pass components to it as well

[2018-10-19 15:40] am commented on #48
You are right! I've must have done something wrong, since I've tried this before and did not work.

All clear now, moving on ;)

Thanks 👍

[2018-10-19 15:40] #48 closed

[2018-10-19 17:08] am opened #49 "Error on when using vue single file component"
I've modified an example from the cookbook to pass a component to the modalController, this worked just fine:
[code]
There is a codepen that can be found [here](https://codepen.io/a--m/pen/yRjrRz?editors=1010).

The problem I found was when doing the same but using a single file component:
[code]
When doing this I get the following error:
[code]
I've tested the same component isolated and it works

[2018-10-23 22:39] sneko opened #50 "Is this package able to handle <ion-input> events?"
Hi,

Currently to deal with `<ion-input>` I have to handle input events manually to spread the value to my component. Here is an example:
`ion-input(type='email', name='email', :value='formValues.email', @input='formValues.email = $event.target.value'`

That's a horrible hack but there is no other workaround for now 😢

Unfortunately with this solution my form is not able to react to the enter key

[2018-10-29 13:03] michaeltintiuc commented on #50
@sneko After multiple proof-of-concepts and talking to the Vue and Ionic folks, this will not be fixed as any solution was only creating more problems than it solved.

The Vue way of things would be to create sub-components for your inputs, if you'd like to leverage `v-model` and emitting the event value to the parent component.

[2018-10-29 13:03] #50 closed

[2018-10-29 13:05] michaeltintiuc commented on #49
I can point you to how this was implemented in Beep:
* https://github.com/ModusCreateOrg/beep/blob/master/src/views/Pwd.vue#L31
* https://github.com/ModusCreateOrg/beep/blob/master/src/mixins/hasModal.js
* https://github.com/ModusCreateOrg/beep/blob/master/src/components/Modal.vue

Otherwise this not an `ionic-vue` issue

[2018-10-29 13:05] #49 closed

[2018-10-29 13:06] michaeltintiuc commented on #47
This indeed seems to be an upstream issue, although it worked fine in Firefox for me.
Anyway tabs have a very limited support as there's still some ongoing work being done

[2018-10-29 13:06] #47 closed

[2018-10-29 13:35] am opened #51 "How to get value from ion-select component?"
I'm using `ion-select` component:

[code]
I need now to update/bind the value from the component width `$i18n.locale`. How can this achived?

[2018-10-29 13:35] michaeltintiuc commented on #49
Sure @am this could be related to a [prior issue](https://github.com/ModusCreateOrg/ionic-vue/issues/38)
Fixed by setting `parent: this` in componentProps object when creating an Ionic controller

[code]

[2018-10-29 13:36] michaeltintiuc commented on #51
Please provide a full example @am that we can work with/test

[2018-10-29 13:49] am commented on #51
Sure, I'll simplify then:

[code]
Consider the above component, how can the `value` be retrieved once it changes?

[2018-10-29 14:31] michaeltintiuc commented on #51
Thanks @am what I meant a link to the repo or smth we can fiddle with, I will try to test myself as well

[2018-10-29 15:15] am commented on #49
It worked, great!

[2018-10-29 15:19] am commented on #51
I'm currently testing this on a private repository. I thought at some point that would be nice to have a separate project that I could share but I have nothing right now. I'll take note and as soon as I can create this sandbox project.

[2018-10-29 15:44] am commented on #51
Here it goes @michaeltintiuc, I think this is the simplest way to get there, it's a project you recognize 😉 and it will serve to exemplify the issue:

https://github.com/ModusCreateOrg/beep/compare/master...am:issues/ion-select

[2018-10-29 15:56] am commented on #51
A similar case happens on the [toggle](https://beta.ionicframework.com/docs/api/toggle) component, where I don't know how to bind the component to the model, if you see the angular documentation this is done using `[(ngModel)]`:

[code]

This looks similar to what is done on Vue with [v-model](https://vuejs.org/v2/guide/forms.html). It would be nice to have something similar to this.

[2018-10-29 18:29] michaeltintiuc commented on #49
Credit goes to @zwacky !

[2018-10-29 22:04] am commented on #51
This is not working for me, I've tried using `@change` and it does not fire or change the value. Am I missing something?

[2018-10-30 14:07] michaeltintiuc commented on #51
@am I believe it should've been `ionChange` event as per the [docs](https://github.com/ionic-team/ionic/tree/master/core/src/components/select#events)

[2018-10-30 14:38] am commented on #51
This is exactly what I was missing, I can listen to the same events as in the docs using `@event`, great!

[code]

Thanks @michaeltintiuc

[2018-10-30 14:38] #51 closed

[2018-11-04 23:26] stevebering opened #52 ""Menu: must have a "content" element to listen for drag events on" error when using ionic-vue with ion-menu"
I am set up the ion-menu component in a Vue app using Ionic-Vue.

When the app renders, I get the following error message: "Menu: must have a "content" element to listen for drag events on."

My template looks like this:

    <div id="app">
    <ion-app>
      <ion-menu>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
          </ion-toolbar>

[2018-11-05 07:15] michaeltintiuc commented on #52
Hi @stevebering, working on this [cookbook example](https://github.com/ModusCreateOrg/ionic-vue/blob/master/cookbook/ionic-controllers.html) showed that Ionic requires an extra attribute on the `ion-page` element for this error to go away, I don't think it's related to routing:

[code]

This can be seen in the [Ionic docs](https://github.com/ionic-team/ionic/blob/master/core/src/components/menu/us

[2018-11-08 21:35] #52 closed

[2018-11-15 15:55] zwacky opened #53 "doc: Show how to call Ionic methods and passing non-primitive data"
Hey there
We just had our Ionic Berlin Meetup where we talked about Ionic + Vue together (slides: https://docs.google.com/presentation/d/1VUN2C2nC2AApPDh_Jy_7MwYprWIFGI93gLvBre399l4/edit#slide=id.gc6fa3c898_0_0)

Two things:
1) How to pass data, especially non-primitive, to the Ionic Components
2) How to call an Ionic Component method

Both are answered briefly in the slides.
I could add a new coo

[2018-11-18 00:34] stevebering commented on #52
Thank you

On Sun, Nov 4, 2018 at 11:15 PM Michael Tintiuc <notifications@github.com>
wrote:

--
*Steve Bering*
stevebering@gmail.com

[2018-11-18 05:10] jongwon commented on #53
why not props?

[2018-11-18 09:50] zwacky commented on #53
Just to clarify with a real example here.

This doesn't work, because it's bound to attribues:
[code]

This does work, because it's bound to properties and can be understood by web components:
[code]

my earlier example with `:myProp.prop="true"` is not really helpful I saw as the web component does understand primitive types just fine as I understand.

[2018-11-24 19:32] lassesteffen opened #54 "Normal page transitions on android are modal transitions"
## Bug
The page transition on android is the transition for showing modals (it goes from bottom to top instead of right to left).

##  Reproduce
Download the beep sample app, serve the app and select an android device on google chrome.

[2018-11-24 23:38] michaeltintiuc commented on #54
As per [Ionic Docs](https://beta.ionicframework.com/docs/api/nav/) this is correct behavior.

[2018-11-25 15:44] lassesteffen commented on #54
Okey I see, doesn't seem to right too me that this is the default, but then I'll head over to the ionic repo. Thanks!

[2018-11-25 15:44] #54 closed

[2018-12-08 00:36] sneko opened #55 "Keyboard overlays my focused ion-inputs"
Hi @michaeltintiuc,

First of all, thank you Modus Create team for your work on this project :)

I'm wondering if you got issues with the keyboard on iOS? I mean, if a `ion-input` is at the bottom of the page, when I click on it the keyboard is overlaying the input 😢  ... but when putting a basic HTML `input` the keyboard "pushes" the page up to make visible both the keyboard and the input.

Did y

[2018-12-08 13:54] michaeltintiuc commented on #55
Hi @sneko I'll give it a try, but ultimately this has to be an @ionic issue, this would require a test in Angular. I'll get back to you

[2018-12-15 12:37] sneko commented on #55
@michaeltintiuc since the @ionic/vue package doesn't use latest Ionic core I had prefered to ask you first if you got troubles when developing for iOS.

Maybe you just used it for desktop web browsers?

Thanks,

[2018-12-15 12:56] michaeltintiuc commented on #55
@sneko ionic-vue doesn't have a hard version dependency of ionic/core, you are free to install the latest one

[2018-12-28 02:54] paulohenriqu opened #56 "Modal - Get props inside component"
Hi,
I’m using a modal and I need to pass some props to the component, so I tried this:
`this.$ionic.modalController
        .create({
          component: ModalSelectSearch,
           componentProps: { title: "Teste" }
        })
        .then(m => m.present());`
But I can’t get the props in my component, i tried like that:
`export default {
  name: "ModalSelectSearch",
  props: ['title'],`
But i

[2018-12-28 10:44] michaeltintiuc commented on #56
Hi @paulohenriqu, thanks for reaching out, the docs on the lib is something Modus Create and Ionic need to do more work on :)
TLDR; Here's how you'd pass props or data to components:
[code]

The long version is that whatever you pass to `componentProps` is passed to the [opts](https://vuejs.org/v2/api/#Options-Data) argument of the [Vue constructor](https://vuejs.org/v2/guide/instance.html). So th

[2018-12-28 10:59] paulohenriqu commented on #56
It worked, thank you very much.

[2018-12-28 10:59] #56 closed

[2019-01-09 02:19] paulohenriqu opened #57 "Returning data from modal"
Hi,

I'm trying to return data from a modal.

I'm creating the modal using the following code:

` this.$ionic.modalController
        .create({
          component: Modal
        })
        .then(m => {
         m.onDidDismiss().then(data=>{
          console.log(data);
         });
          m.present();
        });`

However, if I dismiss the modal like that:

` this.$ionic.modalController.dismi

[2019-01-14 18:11] michaeltintiuc commented on #57
@paulohenriqu I'll be checking it out shortly and will get back to you on this.

[2019-01-15 12:08] Flur3x opened #58 "Error in SSR (vue cli 3.0)"
Hey, maybe you can give me a hint what I could be doing wrong.. The client code works, but everytime the app is rendered by the server (Vue with `createBundleRenderer`), I get this error:

[code]

I'm using the same vue.config.js as here: https://github.com/eddyerburgh/vue-cli-ssr-example/blob/master/vue.config.js

Thanks in advance!

[2019-01-15 12:37] michaeltintiuc commented on #58
Looks like the content of `(function (exports, require, module, __filename, __dirname)` is plain CSS, which explains the syntax error, as far as I know ionic 4 isn't ready for SSR yet, but it's best if you confirm it with them.

[2019-01-15 13:53] #57 closed

[2019-01-15 13:54] michaeltintiuc commented on #57
Thank @paulohenriqu , this is now fixed in the latest version

[2019-01-15 13:57] michaeltintiuc commented on #55
Closing as not related to ionic/vue specifically, please report to @ionic directly

[2019-01-15 13:57] #55 closed

[2019-01-15 13:59] michaeltintiuc commented on #53
Sorry for not getting back to you on this for so long, even though I'm extremely happy with your work and believe this has it's place in the docs/tutorials section that we are working on, I'm closing this issue for now, but if you're open to collaboration we can work on that together in the near future

[2019-01-15 13:59] #53 closed

[2019-01-15 14:01] michaeltintiuc opened #60 "Sync with changes from downstream"
There were significant architecture changes in the downstream version @ionic/vue, since that version does not include the router yet, I think it's a good idea to make the switch between @modus/ionic-vue and @ionic/vue as easy as possible and sync the 2 versions.

[2019-01-15 14:25] Flur3x commented on #58
SSR doesn't seem ready yet, even for Angular: https://github.com/ionic-team/ionic/issues/15041

I wonder if there is a workaround that is worth going forward with (e.g. with https://github.com/skatejs/ssr). Would be so nice if someone could share his/her experiences! :)

[2019-01-15 15:35] michaeltintiuc commented on #58
I'll be closing this as not related to ionic-vue, but if you don't mind, keep us informed on your findings!

[2019-01-17 19:07] #60 closed

[2019-01-23 17:26] zwacky opened #62 "Cookbook example: Trying to get tabs working"
Hey there

I'm trying to get <ion-tabs> working in my apps, as a form of view cache mechanism to preserve scroll position etc, but currently I'm having problems finding where the problem lies in my app.

Naturally I copied the [cookbook example for tabs](https://github.com/ModusCreateOrg/ionic-vue/blob/master/cookbook/tabs.html) to check from square 1 but it shows up some errors which I'm unsure a

[2019-01-23 17:29] michaeltintiuc commented on #62
Hey @zwacky thanks for reaching out, I will take a look at it, but I haven't looked at tabs for a while, the other issues ring some bells, try updating to latest version, there were a few fixes for that already ;)

[2019-01-24 10:37] zwacky opened #63 "Vue Ionic Tabs: Not working as Angular Tabs"
The tabs in ionic-vue keep recreating, not keeping their scroll position, etc. Whereas in ionic-angular the tabs only create their content once, even when switching back and forth within the tabs.

I went ahead and did a bare minimum implementation of the vue ionic tabs over here: https://github.com/zwacky/test-ionic-vue-tabs

May I have mis-implemented this somehow?

[2019-01-24 10:38] zwacky commented on #62
fyi I went ahead and took a starter project to get to this implementation #63

[2019-01-24 10:44] zwacky opened #64 "Adding "@modus/ionic-vue" requires adding "@ionic/core@4.0.0-rc.2""
Adding *@modus/ionic-vue* requires adding *@ionic/core@4.0.0-rc.2*, otherwise  even though it's added in the peerDependencies. Am I wrong to assume, that the peerDependencies should kick in / install if there haven't been any other dependencies of said peerDependency?

[code]

doing a `npm install @ionic/core@4.0.0-rc.2` resolves this.

[2019-01-24 11:19] michaeltintiuc commented on #64
Peer dependencies are basically hints and you're fine installing any version, this allows for flexibility and in cases like this you're not hosed, but you are right nonetheless this should be updated

[2019-01-24 11:21] michaeltintiuc commented on #63
This should probably the next example for ionic/vue as it's one of the most widely used components. I believe there is room for improvement but is vue specific, I'll check it out right away. Thanks for your contributions btw

[2019-01-24 11:33] michaeltintiuc commented on #62
I'll be closing this one in favour of #63 as well as due to the fact that the changes in the arch made by Ionic core team to ionic/vue no longer support the non JS module appraoch, thus the cookbooks are void.

[2019-01-24 11:33] #62 closed

[2019-01-24 11:38] michaeltintiuc opened #65 "Update readme"
Update the examples provided in README.md and be more clear about the state of `@modus/ionic-vue` and `@ionic/vue` in general

[2019-01-24 22:35] Giwayume opened #66 "Question: How do changes to this repository affect @ionic/vue?"
It seems the last pull request from moduscreate was in October, a long time ago. Is the Ionic team dual maintaining all of the bugs fixed in this repository, or do you plan to pull request them eventually?

[2019-01-25 09:54] michaeltintiuc commented on #66
@Giwayume The [RFC PR](https://github.com/ionic-team/ionic/pull/15801) was our initial contribution since then we have submitted several more PRs and more are coming. We are keeping in sync with their changes.

The only differences between this and the official library are:
- The exposure of IonicVueRouter
- Peer dependencies instead of hard ones
- Bugfixes (until they get merged)

Besides that we

[2019-01-25 10:07] michaeltintiuc commented on #63
@zwacky do you have an example of Angular tabs?

A quick update, basic tabs work fine, those without a router, but that also means that if you have 10 tabs, all 10 components will be initialized, unless you lazy-load them.

If you'd want to have separate routes for each, well that is working too, but requires a bit more testing now and confirmation that upon switching of the tab the component that

[2019-01-25 10:11] zwacky commented on #63
@michaeltintiuc I just created a tabs started via `ionic start myApp tabs` and checked if the components get re-initialized/retain their scroll position—which they do.

[2019-01-25 10:14] michaeltintiuc commented on #63
Thanks, what I mean is that with basic tabs it's the same with Vue, but if you want dynamic components, which free up memory that's different.

[2019-01-25 10:24] zwacky commented on #63
Yes, it is indeed about tabs **with** the routing. I tried it in the https://github.com/zwacky/test-ionic-vue-tabs repo.

Then I realized that ion-tabs and ion-tab is way more to it than I thought. [The ionic-angular bindings have a coupling to its navigation router](https://github.com/ionic-team/ionic/blob/6929bb817cff5e4ac3eb266e7aca45173c361789/angular/src/directives/navigation/ion-tabs.ts#L70-

[2019-01-28 10:33] #65 closed

[2019-01-28 10:36] michaeltintiuc commented on #63
@zwacky I've been hacking at this over the weekend and there are good and bad news.

_The good:_
Simple tabs are working just fine and component state is saved due to the fact that all tab content components are loaded at the same time. This is bad in terms of memory management and does not allow for proper routing

_The bad:_
After syncing with Ioinic devs it turned out tabs are not used as web-c

[2019-01-28 14:44] michaeltintiuc commented on #63
That's right, I'm already working on it

[2019-01-28 19:14] vahidalvandi opened #69 "how we can use it whith cordova"
??

[2019-01-28 19:17] michaeltintiuc commented on #69
Same as you would use it with Ionic angular, but I would suggest checking out [Capacitor](http://capacitor.ionicframework.com/)

Closing as not specific to ionic-vue bindings.

[2019-01-28 19:17] #69 closed

[2019-01-28 19:23] vahidalvandi commented on #69
thanks

[2019-02-05 09:41] grgur opened #70 "Create a CodeSandbox sample"
Make sure at least one Ionic component can be rendered via Vue on [CodeSandbox](https://codesandbox.io/)

[2019-02-05 09:48] michaeltintiuc commented on #70
There is an open issue regarding this:
https://github.com/CompuIves/codesandbox-client/issues/1482

I will try to investigate further though

[2019-02-09 00:23] christianmagill opened #71 "Roadmap?"
Thanks for your work on this project!

Is there any type of a roadmap that would give me an idea of how far a long the project is, what's missing, planned, etc.?

[2019-02-09 01:39] michaeltintiuc commented on #71
Hey @christianmagill, that's a great suggestion, we've been neck deep in code so much that forgot about such obvious things, I'll setup a plan ASAP and update the README which should include finished, finished but requiring rework, in-progress and any wont-fix items.

[2019-02-09 01:47] christianmagill commented on #71
Much thanks!

[2019-02-21 10:59] michaeltintiuc commented on #63
Fixed in v1.2.12 - closing

[2019-02-21 10:59] #63 closed

[2019-02-26 08:49] sneko opened #73 "How to emit an event to modal Vue instance?"
Hi,

I'm creating a modal through the Ionic controller with VueDelegate but I'm not able to make an event reaching to the creator element...

I tried:
- this.$emit() and on the other side `.addEventListener(...)` since the returned value is an HTML element
- this.$parent.$emit() so that I can directly listen through `this.$on(...)` but the modal is not able to understand `this.$parent`since it was

[2019-02-26 10:54] michaeltintiuc commented on #73
Hey @sneko have a look at [this example](https://github.com/ModusCreateOrg/ionic-vue-examples/blob/master/src/views/Modal.vue)

The above illustrates 2 ways of achieving this:
- passing a method to modal props
- using events

The catch with events is that you have to set the parent manually:

[code]

Which means that you can then do stuff like `this.$parent.$emit('close', {})`

[2019-02-26 11:26] sneko commented on #73
@michaeltintiuc I just tried the second solution your example but `this.$parent` is still undefined in the modal when clicking on a button.

I looked at https://github.com/ModusCreateOrg/ionic-vue-examples/blob/master/src/components/modal/index.vue and it seems I didn't miss something hmmm, any particular thing to do?

Here is how I create my modal:
[code]

Thank you,

[2019-02-26 11:38] sneko commented on #73
@michaeltintiuc I updated my local vue-delegate related files since you modified them during January, and it works :)

It could be the line about binding lifecycle events...

Thank you very much!

[2019-02-26 11:38] #73 closed

[2019-02-28 09:37] arcaweb opened #74 "Overrinding Ionic SCSS ?"
Hi,

In Ionic base, we can create a src/theme/variables.scss to override basic colors.

How can we do that with ionic-vue ? Should we use webpack to build it, and include it in ionic:build command ?

Best regards

[2019-02-28 10:29] michaeltintiuc commented on #74
I'm not sure what you mean by ionic base and as far as I know ionic/core does not export any SCSS files at all. You can override CSS variables though:

[code]

[2019-02-28 10:34] arcaweb commented on #74
Ok so I have to use webpack, because in native Ionic (with Angular), the build and serve do that job.

[2019-02-28 10:40] michaeltintiuc commented on #74
I've just checked the Ionic/Angular conference app and don't see any SCSS being used, it's the compiled CSS that's being imported:
https://github.com/ionic-team/ionic-stencil-conference-app/blob/master/src/global.css

So the process should be identical, as I've said, if you've setup your project via `vue-cli` you don't need to do any extra work, just import your CSS.

[2019-02-28 10:40] #74 closed

[2019-02-28 13:13] edstevo opened #75 "Adding "@modus/ionic-vue" requires 'ionicons/icons'"
Hi,

I tried to play around with this today as the traditional vue-router is giving me issues with things like split-pane...

Anyway - I can't use it as I'm getting the following message:

./node_modules/@modus/ionic-vue/dist/ionic-vue.esm.js
Module not found: Error: Can't resolve 'ionicons/icons' in '/Users/edstevo/Sites/xxxx/xxxx/node_modules/@modus/ionic-vue/dist'

From what I can gather, 'ioni

[2019-02-28 13:54] michaeltintiuc commented on #75
First of all the ionic/vue router is just an extension of the official vue router, so if that one is giving you problems, it's highly unlikely that ionic/vue will fix anything for you.
Regarding the [ionicons](https://github.com/ionic-team/ionicons), it's open sourced.
Make sure you have the latest versions of both ionic-vue and @ionic/core.

I can't think of anything else that could be an issue o

[2019-02-28 13:59] michaeltintiuc commented on #75
I'd also recommend checking out [ionic-vue-examples](https://github.com/ModusCreateOrg/ionic-vue-examples/) and how it's setup

[2019-03-04 08:27] edstevo commented on #75
Hi Michael,

The ionic-vue-examples works fine, so thanks for that.

Also managed to resolve the first problem - @modus/ionic-vue specifies that you should install ionicons/icons whereas the actual repo is just called "ionicons" on npm.  Hence why I was having issues.

Thanks for the tips.

[2019-03-04 08:27] #75 closed

[2019-03-05 16:18] majormarquis opened #76 "Cookbook example: how to get tabs working"
Hello, I've been playing around with beep for a while now. I got to add an ionic-tabs component, but I haven't been able set it up with the IonicVueRouter. Please a working example would be really appreciated.

Thank You :)

[2019-03-05 17:13] michaeltintiuc commented on #76
Hey @majormarquis, this feature had just landed in @modus/ionic-vue and there's a pending PR to ionic core: https://github.com/ionic-team/ionic/pull/17678
The example is in the works and will be added to this readme and https://github.com/ModusCreateOrg/ionic-vue-examples/

[2019-03-05 17:43] majormarquis commented on #76
Okay. That's great. I'll be watching.

[2019-03-07 10:15] zwacky opened #77 "IonicVueRouter: Unexpected token export"
Hey there, I wanted to run my tests with Jest and came across this issue:

[code]

Just wanted to collect the issue for later. Cheers!

[2019-03-07 14:55] michaeltintiuc commented on #77
Yeah, I think it might be related to how ionicons are exported, I'll give it a try on a demo project

[2019-03-10 16:37] zwacky opened #79 "Popover isn't positioned correctly when used with mode 'md'"
Hey there,
when opening a popover with `mode: 'md'` it doesn't take into account the height of the event's clicked element for its position. Works correctly with `mode: 'ios'`.

Can be tried out here: https://github.com/ModusCreateOrg/ionic-vue-examples (when merged https://github.com/ModusCreateOrg/ionic-vue-examples/pull/2).

Cheers

[2019-03-10 22:42] michaeltintiuc commented on #79
Thanks, ultimately this was an upstream issue, see this: https://github.com/ionic-team/ionic/issues/17427

Updating to latest @ionic/core fixes this, tested with 4.1.1

[2019-03-10 22:42] #79 closed

[2019-03-11 14:47] arcaweb opened #80 "Events on ion-input & ion-textarea"
Hi,

Ionic is creating and input / textarea inside a ion-input or ion-textarea tag, so it is impossible to use events, v-model, ... on these tags.

How can we do working this ?

Thanks

[2019-03-11 15:14] michaeltintiuc commented on #80
Hey @arcaweb, thanks for your question. Yes, this is expected behaviour as it's quite impossible to get it working without redefining every ionic element in vue .
In essence `v-modal` is just a shorthand for `:value="myVar" @input="myVar = $event.target.value"`

As an example, you can have a look at what we did in [Beep](https://github.com/ModusCreateOrg/beep)

[code]

In case if this is a pain, y

[2019-03-11 16:42] arcaweb commented on #80
@michaeltintiuc Thanks you for your quick answer, it's my bad, I had try with @input, but I had forgotten :value ... with :value it works well :)

[2019-03-11 16:42] #80 closed

[2019-03-13 11:50] takielias opened #81 "How much time will it take to publish stable release of @ionic/vue ?"
I'm waiting for the stable release of @ionic/vue. I'm really excited. I know there is some limitation in @ionic/vue. How much time will it take to publish stable release without limitation?

[2019-03-13 23:21] michaeltintiuc commented on #81
Hey @takielias, I can't speak for Ionic on this, all I know is that it's closing in to a beta release. The only differences between this package and Ionic's at this point is the router and ion-tabs support, the latter is pending a PR. I would suggest you ask them through their contact channels.
In relation to limitations, are there any in particular? I'm unaware of any blockers really as I've used

[2019-03-13 23:26] michaeltintiuc commented on #77
Have you given this a look? I assume the issue is with the svg ionicons imported by @ionic/core

https://jestjs.io/docs/en/webpack#handling-static-assets

[2019-03-13 23:50] michaeltintiuc commented on #77
Hey @zwacky I've setup this repo with vue CLI: https://github.com/michaeltintiuc/ionic-vue-jest-test

The tests run fine using ionic/vue including the router.

Can you share a test file that fails?

[2019-03-14 05:57] takielias commented on #81
@michaeltintiuc Thanks for your response.

[2019-03-14 06:00] takielias commented on #81
@michaeltintiuc Thanks For your Response. There is another limitation That I found [https://github.com/ionic-team/ionic/tree/master/vue](https://github.com/ionic-team/ionic/tree/master/vue) here is: Stack navigation for deep transitions is under heavy development at this time. But I'm confused. Can I use it for production?

[2019-03-14 08:54] zwacky commented on #77
So you used the vue CLI. I was using the ionic CLI to create the new project and it looks quite different. Will investigate what exactly causes this and then propose it to ionic itself probably.

I don't see this being a problem with ionic-vue itself. Cheers!

[2019-03-14 09:53] zwacky commented on #77
Doesn't look like it's the setup. I expanded the ionic-vue-jest-test repo with two test cases:
- creation of vue router
- creation of ionic vue router

https://github.com/zwacky/ionic-vue-jest-test/tree/router

[2019-03-14 11:08] michaeltintiuc commented on #77
This is an issue with @ionic/core and ionicons as per this issue: https://github.com/ionic-team/ionic/issues/17577

As a temporary solution copy the __mocks__ dir from here: https://github.com/ionic-team/ionic/tree/master/react/__mocks__

[2019-03-14 11:08] #77 closed

[2019-03-14 14:02] zwacky opened #82 "ion-tab-button clicks forward to unwanted url (1.2.15)"
My navigation looks like this:

[code]

with `@modus/ionic-vue: 1.2.14` this worked.
with `@modus/ionic-vue: 1.2.15` this first routes to the correct route from `<router-link>` and then forwards to /new, because of `tab="new"`.

Should I try to remove the click listeners myself or what do you think is the best approach here?
Downgrading to 0.2.14 fixes this.
Cheers

[2019-03-17 17:31] michaeltintiuc commented on #81
@takielias I'm not sure what this really means, I myself haven't found any issues with navigation or transitions really. You'll have to play around with it and decide for yourself, our definitions of production ready could differ based on use cases.

[2019-03-17 17:31] #81 closed

[2019-03-19 20:26] michaeltintiuc commented on #82
Hey so what you're doing is quite counter intuitive.

The ion-tab-button gets a click handler under the hood, which redirects to the value of `:to` attribute and falls back to the value of `tab` attribute.

The `:to` attribute is identical to the one you can pass to `router-link`.

Since you've added the `router-link` element, it's click handler fires first, then the event bubbles up to `ion-tab-b

[2019-03-22 09:22] #71 closed

[2019-03-25 11:12] WayneDanielSinclair opened #83 "Cannot set initial value for ion-range with dualKnobs"
[code]

I would expect this code to set the knobs to 3 and 7, but both knobs are at the minimum end

[2019-03-25 15:42] NunoSav opened #84 "Modal won't open"
I'm trying to open a modal with the following code:
[code]

but the modal never shows, any clue why?

Thanks

[2019-03-25 17:07] michaeltintiuc commented on #83
Hey @WayneDanielSinclair Ineed it doesn't work as specified in the docs, in fact I have tested this with React as well and observed the same behaviour.

Here's a quick fix to get you going:

[code]

After debugging it int he browser I've notice that when you pass an object to the value attribute, it would return `NaN`, yet setting it after works just fine.

[2019-03-25 17:22] michaeltintiuc commented on #84
I was able to run your code just fine, here's the Modal example from [ionic-vue-examples repo](https://github.com/ModusCreateOrg/ionic-vue-examples/)

[code]

Note that `parent: this` is not required, it's just to allow for parent/child relationship for events.

[2019-03-26 07:46] NunoSav commented on #84
I built a sample project to either reproduce the issue or show me there's something wrong with my original code. The latter happened, now i'll try find what's wrong.

Thanks for you help.

[2019-03-26 07:46] #84 closed

[2019-03-26 10:20] WayneDanielSinclair commented on #83
Ok, thanks for the workaround.

[2019-03-26 13:12] michaeltintiuc commented on #83
@WayneDanielSinclair I've submitted a bug report to Ionic as it impact React as well.

[2019-03-26 14:10] zwacky commented on #82
Perfect! Using `:to` directly on `<ion-tab-button>` solves this.

[2019-03-26 14:12] zwacky commented on #82
Due to SEO reasons: Is it possible to expose the href of these tabs?
before the `<router-link>` created an `<a>` with an `href` attribute that solved the web/SEO issue.

[2019-03-26 14:30] michaeltintiuc commented on #82
As a hack perhaps you can keep the `router-link` and prevent the click on it

[2019-03-26 15:08] #82 closed

[2019-03-26 15:13] michaeltintiuc commented on #83
@WayneDanielSinclair After checking with Ionic folks, looks like this is the way to go, you can not set it directly via the `value` attribute, I'll update the usage docs.

Perhaps adding new attributes to handle this would be better, but it's a feature request, feel free to submit it to Ionic.

[2019-03-26 15:13] #83 closed

[2019-03-26 16:42] randytarampi opened #85 "Any plans to support `ion-virtual-scroll`?"
Didn't see this mentioned in #71, and I don't quite know if this is more appropriate here than at https://github.com/ionic-team/ionic, but it'd definitely be really nice to have.

[2019-03-26 17:53] michaeltintiuc commented on #85
It would be best to reach out to the official repo, but from what I know, it will be supported, but it would reuse the best implementation for each framework.

[2019-03-26 19:54] randytarampi commented on #85
Fair. Closing this and following up on the Ionic side with ionic-team/ionic#17887.

[2019-03-26 19:54] #85 closed

[2019-03-26 21:01] grgur commented on #85
My $0.02 here: virtualization is easily solved with framework specific libraries that already exist for Vue. This probably shouldn’t be a focus for Ionic integration with other frameworks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-31 11:01] zwacky opened #86 ":class on ion-item overwrites classNames"
When I try to dynamically setting classes on an `<ion-item>` the classes will overwrite the native ion-item classes, disappearing the visibility and only leaves the classes defined in `:class`.
I also checked with @ionic/angular doing the same just with `[ngClass]` and there is no problem.

I used ionic-vue-example to demonstrate it in the Home component: https://github.com/zwacky/ionic-vue-exampl

[2019-03-31 11:12] michaeltintiuc commented on #86
Thanks for the issue report. This is a weird one, so it works in Angular because each ionic component has a framework wrapper around it. In Vue we don't, we're just using the ones coming from @ionic/core.

So essentially what you're doing is overwriting the classes instead of appending to them.
To me it seems more like a core Vue issues where it should've checked for existing values when parsing t

[2019-04-02 11:00] WayneDanielSinclair opened #87 "Calling Ionic component method"
[code]

I am trying to set the focus on an ion-searchbar. I would expect the above to work.
https://ionicframework.com/docs/api/searchbar#methods
Am I missing something or is this not supported?

I have tried working around it by trying to call the native focus function on the actual input element that is created but have not had success getting the input from the children of the ion-searchbar

[2019-04-02 23:02] michaeltintiuc commented on #87
This should be supported as there are no wrapper around this ionic element. It should be same as using it in plain JS, I'll give it a try and report back

[2019-04-02 23:11] michaeltintiuc commented on #87
@WayneDanielSinclair From the test that I did it indeed does not set focus when called from `mounted` but I believe this to be a browser issue as it works just fine when called via a click handler or any other user interaction.

[2019-04-02 23:13] michaeltintiuc commented on #87
Actually scratch that, it does work with a timeout as per this: https://github.com/ionic-team/ionic/issues/17745

[2019-04-04 09:15] WayneDanielSinclair commented on #87
Ok thanks for looking into that.

[2019-04-04 10:37] #87 closed

[2019-04-15 23:52] UnKnoWn-Consortium opened #88 "Example for tabs"
I have tried the following setup for the ion-tabs navigation. It is sort-of working for certain scenarios (e.g. navigating from `/home` to `/home/about` or from `/home` to `/shop`) but things start to get awkward when I try to do "cross-tab" navigation (e.g. from `/home` to `/shop/1234`).

When I am at `/shop/1234`, the tabs can no longer bring me back to `/home`, `/shop`, or `/search`. It keeps o

[2019-04-17 09:46] michaeltintiuc commented on #88
Yeah, you have it right for the most part, the routing is broken due to how `ion-tab-button`s are setup. By default the value of `tab` is appended to the URL, this is as you've mentioned covering the most basic of use cases. To handle more advanced stuff, pass the `to` property, which behaves the same way as the `to` prop of `router-link`

This is from the ionic docs:
[code]

The above will make i

[2019-04-19 18:25] UnKnoWn-Consortium commented on #88
@michaeltintiuc

Oh crap, I have totally overlooked this doc....
https://github.com/ionic-team/ionic/tree/master/core/src/components/tabs#vue

Thank you very much for bringing it up... I have been reading the Ionic doc at https://ionicframework.com/docs/api/tab-button and kept on trying with the `href` and `tab` attributes mentioned there... both to no avail...

Thanks again for your reply and hel

[2019-04-19 18:25] #88 closed

[2019-05-08 22:17] sneko opened #89 "Router transitions not working?"
Hi @michaeltintiuc ,

I just saw your PR on the Ionic repo (https://github.com/ionic-team/ionic/pull/17901) and followed the documentation on yours.

My main issue is that I don't see the transition between both elements. When looking at the DOM tree I see the previous and next pages lasting together, but the next page appears just when the previous one is deleted.

I'm using a basic:
[code]

Whil

[2019-05-27 21:18] michaeltintiuc commented on #89
Hey, sorry for the delayed reply, but I'd suggest looking into how [the examples repo](https://github.com/ModusCreateOrg/ionic-vue-examples) is setup for this or sharing your code

[2019-05-31 13:39] SanderMuller commented on #38
Would it be an idea to make Ionic pass the parent by default?

I just encountered this problem, and it took me a while to find this issue

[2019-05-31 15:43] michaeltintiuc commented on #38
Not as far as I know, the plugin is being initialized way before you reach the call to ionic controllers. I've looked into it and there's no way for it to "know" which component to set as it's parent out of the box.

[2019-07-01 10:57] col-panic opened #90 "<ion-select> not working for vue.js"
I can't get <ion-select> to work for vue.js. This is my current code in ionic-vue 0.0.4

[code]

it does not bind and change the value - while other properties do work?!

[2019-07-01 16:04] col-panic commented on #90
sorry, wrong project

[2019-07-01 16:04] #90 closed

[2019-07-08 21:35] #89 closed

[2019-08-12 23:35] michaeltintiuc commented on #86
Should be fixed by this commit: https://github.com/ionic-team/ionic/commit/4a0de23cab6c80706775ad5b6e1abb835105f5ee

[2019-08-12 23:35] #86 closed

[2019-08-23 11:37] michaeltintiuc opened #91 "Update with upstream and merge pending PRs"
It seems to me that people are missing out and I would like to give them the possibility to test the functionality from the pending PRs and provide feedback.

https://github.com/ionic-team/ionic/pull/18561
https://github.com/ionic-team/ionic/pull/19087

[2019-08-23 11:38] michaeltintiuc opened #92 "Vue 3 testing"

[2019-08-24 17:14] #91 closed

[2019-09-04 11:08] abcd498936590 opened #95 "Very happy to use ion @VUE, I need more examples"
I hope to get more examples about ionic@vue, such as how to use ion-nav in vue? ? ?

Thanks for seeing you, youtube and github can see you, so lucky, thanks

[2019-09-06 10:12] michaeltintiuc commented on #95
Thanks for your feedback, that's a great idea, I'll look into that.

[2019-09-06 17:05] #95 closed

[2019-10-04 11:14] michaeltintiuc opened #97 "Fix circle ci reporting back to girhub"
Even though Circle CI jobs pass, github is not being notified back of it.

[2019-10-08 15:16] grgur opened #99 "Migrate to GitHub Actions"
Let's see how we can migrate to GitHub Actions.

[2019-10-15 11:15] Imaginativeone opened #100 "Basic Tutorial"
Is there a resource that shows the steps for creating the basic Modus/Ionic app? I’m having trouble getting the app to work with the GitHub instructions.

[2019-10-26 01:15] michaeltintiuc commented on #100
Hey @Imaginativeone sorry for not replying earlier, here's a set of examples that should get you going: https://github.com/ModusCreateOrg/ionic-vue-examples/
If you don't mind, let me know what wasn't working for you from README, I'll make sure to fix it otherwise feel free to submit a PR

[2019-11-08 11:50] Imaginativeone commented on #100
@michaeltintiuc I can't thank you enough for responding to my post. When I follow up, is it okay if I post video? Alternatively, I can use pictures.

[2019-11-12 18:52] michaeltintiuc commented on #100
@Imaginativeone either is fine, whichever works best for you in getting your point across.

[2019-11-14 15:20] 4aficiona2 opened #101 "Nuxt support in universal mode (SSRed Web Components)"
I'm trying to figure out if it is somehow possible to SSR Ionic Vue Router links in Nuxt? I'm aiming for a server side rendered navigation based on Web Components (generated with Stencil for the dist/hydrate output target, deployed through npm, included / rendered within Nuxt e.g. like [this](https://github.com/Gomah/nuxt-stencil) implementation).

Could this be achieved with ionic-vue? Or could t

[2019-11-18 07:40] grgur commented on #101
My $0.02

Web Components rely on browser-specific APIs. In Server Side Rendering, these APIs can be used in a headless browser, but that comes at a major expense. Especially when there's lots of traffic. I'm not sure a business can justify that expense when Web Components are, in fact, very light.

Representing Shadow DOM as plain HTML is hard. Hydration would make it even harder. To make things w

[2019-11-25 13:41] mitchellsimoens commented on #99
@grgur I think it'd be very easy to move to GitHub Actions however GitHub Actions is not allowed for the org...

[2019-11-26 11:22] grgur commented on #99
Closing this for now.

[2019-11-26 11:22] #99 closed

[2019-12-11 16:30] mattsteve opened #102 "Allow ion-tab-button with undefined "tab" property to do nothing."
Right now if you don't specify the "tab" property on an ion-tab-button it defaults to "/" in @modus/ionic-vue, whereas the original component in @ionic/core simply does nothing.

This "doing nothing" behavior is required for adding a custom click event handler to tab buttons that doesn't involve redirecting the page. When using this library it's impossible to make an ion-tab-button do something cu

[2019-12-13 01:50] michaeltintiuc commented on #102
@mattsteve When setting custom click handlers, the default one is being triggered as well, isn't it?

[2019-12-13 01:51] #100 closed

[2019-12-22 16:28] lights0123 opened #103 "Different routers for each tab"
I'm writing a mobile app. Each tab should have its own navigation stack, i.e. you can navigate in the "News" tab, switch to the about tab and hit "About", and switch back to the News tab, leaving off right where you were, in both scroll position and path. In my app, I'm using version 1.1.2 of `@modus/ionic-vue`, as it does not require a router for tabs. The way I have this working is that each tab

[2020-01-06 20:07] mattsteve commented on #102
Tab prop is checked to be defined before emitting the click event.

https://github.com/ionic-team/ionic/blob/master/core/src/components/tab-button/tab-button.tsx#L90

[2020-01-06 20:28] michaeltintiuc commented on #102
@mattsteve see the PR

[2020-01-07 13:58] #102 closed

[2020-01-07 18:03] mattsteve commented on #102
Looks good to me.

[2020-01-07 18:14] mattsteve commented on #103
Since they just made the fix so you can add a custom event to handle tab buttons (not yet published to npm), you can do this manually, assuming named views still work with `ion-vue-router`.

Vue Router Named Views:
https://router.vuejs.org/guide/essentials/named-views.html

[code]

Router config
[code]

[2020-01-12 04:21] lights0123 commented on #103
@mattsteve the problem with this is that the history is shared between the two tabs—it *is not possible* to get away with only one router. Changing the page on the first tab will change the page on the second, which is certainly not what you want. I ended up figuring out that you can still do what I did, and nest routers. However, I ended up switching to Ionic's [`ion-nav`](https://ionicframework.

[2020-01-28 15:38] matiasmenares commented on #51
it worked for me with $event

`<ion-select @ionChange="foo = $event.target.value" :value="foo"/>
`

[2020-02-11 12:22] RobinHavre opened #105 "Header/toolbar height on iPhone X and iPhone 11"
When building for iOs using Capacitor or Cordova, the header/toolbar has the wrong height, and is thus partially hidden behind the phone besel and the statusbar.

![image](https://user-images.githubusercontent.com/3342645/74236480-959a1380-4cd1-11ea-80cd-339039621ba9.png)

[2020-02-12 22:25] michaeltintiuc commented on #105
It's definitely an issue with the core Ionic library, depends on the version you're pulling in

[2020-03-16 06:41] midoushitongtong opened #106 "keepAlive does not work continuously"
![C](https://user-images.githubusercontent.com/21253535/76729119-66286c00-6793-11ea-8f22-a27a3c5b48ee.gif)

[2020-04-08 10:33] 312977 opened #107 "bug with Ionic 5"
Uncaught TypeError: Cannot read property 'ios' of undefined
at appInitialize (webpack-internal:///./node_modules/@modus/ionic-vue/dist/ionic-vue.esm.js:218)
at Object.install (webpack-internal:///./node_modules/@modus/ionic-vue/dist/ionic-vue.esm.js:579)
at Function.Vue.use (webpack-internal:///./node_modules/vue/dist/vue.esm.js:5106)
at eval (webpack-internal:///./src/main.js:29)
at Module../src/

[2020-04-09 22:11] michaeltintiuc commented on #107
Will look into it, thanks for reporting!

[2020-04-12 11:16] michaeltintiuc commented on #107
The issue is that you're trying to build your project against Ionic 5, but ionic-vue was built with Ionic 4, I'll be releasing a new version for that soon, as of now this is expected behavior

[2020-04-12 11:16] #107 closed

[2020-04-12 11:17] michaeltintiuc opened #108 "Support for Ionic 5"

[2020-04-12 12:34] #108 closed

[2020-04-12 12:47] michaeltintiuc commented on #106
I'd be interested in seeing your code, haven't seen this in a while. I don't think this happens in `ionic-vue-examples`

[2020-04-12 12:48] michaeltintiuc commented on #105
Try with Ionic 5, update to ionic-vue 1.3.5 though

[2020-04-12 12:53] michaeltintiuc commented on #107
try version 1.3.5 that should be fixing it @312977

[2020-04-12 15:03] midoushitongtong commented on #106
codesandbox url [https://codesandbox.io/s/snowy-hooks-dkui7](https://codesandbox.io/s/snowy-hooks-dkui7)
Could it be that my usage is incorrect?

[2020-04-12 20:39] michaeltintiuc commented on #106
No, it's not you, I could reproduce the issue, looks like it's something new, looking into it, thanks!

[2020-04-12 21:20] michaeltintiuc commented on #106
OK, found the issue to be `keep-alive` itself and how newer versions of ionic are hiding the "leaving element":
1. When you transition for the first time, the entering element (page B) is set to a visible state and higher z-index
2. When you go back, page B becomes a leaving element and is being hidden with `display: none` style attr.
3. When you want to go to page B again, keep-alive restores it'

[2020-04-12 22:04] #106 closed

[2020-04-12 22:07] michaeltintiuc commented on #106
Check version 1.3.6 @midoushitongtong

[2020-04-14 08:43] RobinHavre commented on #105
I get the same result also using @ionic/core 5.0.7 and @modus/ionic-vue 1.3.6.

My hack has been to add ``padding-top: 40px;`` to the ``header-ios`` class, but with the new translucent toolbar this is no longer sufficient.

[2020-04-15 14:43] michaeltintiuc commented on #105
I know for fact that ionic-vue does not mess in any way with Ionic styles, I wonder if you can reproduce this in React or Angular versions of Ionic, have you checked for similar issues in ionic repo?

[2020-04-16 13:30] RobinHavre commented on #105
I'm using Ionic/Angular for most projects, and have no issues with this there.

[2020-04-22 19:23] michaeltintiuc commented on #105
@RobinHavre could you share your setup? I could give it a try, @zwacky have you had any similar issues?

[2020-04-23 07:56] zwacky commented on #105
Hey there, sorry the only project I worked on is currently not running ionic 5 :( and for ionic 4 there are no problems.

[2020-04-23 07:56] RobinHavre commented on #105
Below you see my setup. Everything works Vue- and Ionic-wise, but when I run this as a Cordova or Capacitor app in the XCode simulator for iPhone X or iPhone 11, the navbar does not account for the phone besel, as in the screenshot above.

package.json
[code]
main.js
[code]
App.vue
[code]
Home.vue
[code]

[2020-04-23 19:14] michaeltintiuc commented on #105
what about an actual device? could it be a simulator issue? ionic/vue doesn't really mess with anything in terms of styling and unfortunately for this situation I don't own any apple devices :(

[2020-04-24 12:52] michaeltintiuc commented on #92
Alpha already available

[2020-04-24 12:52] #92 closed

[2020-04-24 12:55] #70 closed

[2020-04-24 13:14] michaeltintiuc opened #111 "Support Ionic's back button in routing"
Create a wrapper around the ionic's back button that would listen to click events and trigger a router event

[2020-04-24 19:25] michaeltintiuc opened #112 "Add "showBack" router logic"

[2020-04-24 19:36] #112 closed

[2020-04-24 19:36] #111 closed

[2020-04-25 09:26] michaeltintiuc commented on #103
@lights0123 thanks for sharing your implementation, sorry for not replying earlier. Could you share your implementation using `ion-nav`? I am working on the tabs functionality for the Vue 3 version and was considering a router with a stack of history states or something along those lines and I was thinking of back-porting it to the upcoming 2.0.0 version as well. I just don't want to force people

[2020-04-25 12:23] michaeltintiuc opened #113 "Improve navigation direction logic"

[2020-04-25 12:26] #113 closed

[2020-04-25 12:29] michaeltintiuc opened #114 "Tabs support"
Tabs should not require a router instance.
Switching tabs should preserve state

- [x] Base components (IonTabs, IonTabBar, IonTab, IonTabButton)
- [x] Routing

[2020-04-25 16:41] lights0123 commented on #103
@michaeltintiuc [Here's the complete project][shakerite]. I actually removed all Ionic-Vue parts, and I'm now just using Ionic components directly from Vue because I got a bunch of errors when migrating to Ionic 5. [This commit][ionic-vue] is the last commit to use this repository, on Ionic 4. Here's the main layout of my app before I switched to using my own bindings:

## One central component fo

[2020-04-25 21:13] michaeltintiuc commented on #103
Thanks for the example and feedback @lights0123 I think most of this stuff makes a lot of sense and is the general direction v3 is going in. Would be interested in hearing your thoughts on the new version when it's out of alpha

[2020-04-27 20:20] michaeltintiuc opened #115 "Swipe back"
Add "swipe back" support.
Should navigate back on gesture complete or remain on the same route if gesture is cancelled.
Behavior should be the same as of `ion-nav`

[2020-04-27 20:21] michaeltintiuc commented on #115
Fixed in 4615b553cd4aec05f8105b060ffde7237f5c359d

[2020-04-27 20:21] #115 closed

[2020-05-01 14:24] michaeltintiuc opened #116 "Add hardware back-button support"

[2020-05-01 14:42] michaeltintiuc commented on #116
Closed in d641608d84dc9db049f487d98089ff84332bd3e8

[2020-05-01 14:42] #116 closed

[2020-05-03 11:44] michaeltintiuc opened #117 "Update readme"

[2020-05-03 11:45] michaeltintiuc commented on #117
Fixed in ec7aca6

[2020-05-03 11:45] #117 closed

[2020-05-04 23:03] mattsteve opened #118 "Using @modus/ionic-vue@1.3.6 with ionicons 5.0.0+"
With Ionic 5+, this setup won't allow me to install older versions of ionicons because the dependency mismatch causes typescript problems.

[code]

While it appears the package.json for 1.3.6 lists @ionic/core 5.0.6, in practice I can't actually use it.

Ionic 5 requires Ionicons 5, and Ionicons 5 changed around some icon names. Ionic Vue is still referencing the "reorder" icon from Ionicons 4, wh

[2020-05-04 23:12] michaeltintiuc commented on #118
It already is using the latest ionicons, have a look here: https://github.com/ModusCreateOrg/ionic-vue/blob/v1.3.6/src/index.ts#L52
You might need to remove your node_modules dir and reinstall, I'll give it a test on a fresh project just in case though

[2020-05-04 23:13] michaeltintiuc commented on #118
Also 1.3.6 doesn't have a hard dependecy, but a peer one set to `"@ionic/core": "^5.0.7"`

[2020-05-04 23:39] mattsteve commented on #118
You're right, I deleted node_modules and reinstalled & it works. My bad =(

[2020-05-04 23:39] #118 closed

[2020-05-04 23:48] michaeltintiuc commented on #118
No worries, actually what you did made me discover that something went wrong during the build/release process of that version, I've pushed out 1.3.7 which should fix it. I tested it with the https://github.com/ModusCreateOrg/ionic-vue-examples repo and found out that the new overlay and input components weren't there, so pull the new version when you can, it also works with Ionic 5.1.0 btw. Thanks

[2020-05-09 11:49] michaeltintiuc opened #119 "Restore scroll on navigation"
Vue Router only handles window scrolling, Ionic on the other hand does it through `ion-content`

[2020-05-09 12:35] michaeltintiuc commented on #119
Fixed in 92deb24fc8e1b7305b82befa51186901eba77476

[2020-05-09 12:35] #119 closed

[2020-05-22 18:27] EdwardMillen opened #120 "Ionicons not working"
Hi, I've just started a new project using the latest versions of everything (@ionic/core@5.1.1 and @modus/ionic-vue@1.3.8) but I can't get Ionicons to show at all.

For example with `<ion-icon name="add"></ion-icon>` when running the dev server, the browser seems to be trying to load the icon from /svg/add.svg, but that HTTP request is actually returning the same HTML code as the root page (and an

[2020-05-23 13:27] michaeltintiuc commented on #120
HI @EdwardMillen I can confirm this is also happening with my setup, something must've change, looking into it. Thanks for reporting!

[2020-05-23 14:14] michaeltintiuc commented on #120
Hey @EdwardMillen turns out the usage of icons changed, I've checked some of the internal components as well as the React version of Ionic, you've got several options, it's up to you to decide which one is better for your use case

#### 1. Add all required icons globally
[code]

#### 2. Set icon to imported value
[code]

#### 3. Add icons on a need-to-need basis
[code]

I'll make sure to add this

[2020-05-23 21:35] EdwardMillen commented on #120
Thanks a lot, at least now I have options :D

When I was initially trying to troubleshoot this, I tried some similar looking code I found elsewhere, but it didn't work (and for some reason the call to addIcons was much more complex). Your version (the global one) seems to work fine though :)

[2020-05-23 22:16] #120 closed

[2020-05-25 17:48] EdwardMillen commented on #120
Just as a follow up to this, it turns out methods 1 and 3 don't work with any of the icons with dashes in the name (like cart-outline, cart-sharp etc). Method 2 still works though.

After digging around in the source code, I've found that adding them like this fixes it:

`import { addIcons } from 'ionicons'
import { add, cartOutline } from 'ionicons/icons'
addIcons({ add, "cart-outline": cartOutli

[2020-06-01 15:11] EdwardMillen opened #121 "IonInputVue not working"
I feel like I must be missing something here, but I really can't figure out what.

When I try to use an IonInputVue tag in my template (which seems to be the current way to create an input element as far as I can tell), it doesn't work and I get this in my Chrome DevTools console:

`vue.runtime.esm.js?2b0e:619 [Vue warn]: Unknown custom element: <IonInputVue> - did you register the component corre

[2020-06-01 15:29] EdwardMillen commented on #121
Just as some further information, one of the reasons why I was thinking `<IonInputVue>` must be the correct way to create an input currently is that in the README for this project, the only mention of inputs is "Functional Inputs" (I'm not entirely sure what that means yet), and the only link from there is to your pull request in the main Ionic repository. Then looking at the changed files in that

[2020-06-01 15:31] michaeltintiuc commented on #121
`Vue.component` registers the component for you, `Vue.extend` requires you to import the component manually:
[code]
Just tested the above with latest @modus/ionic-vue version

[2020-06-01 15:35] michaeltintiuc commented on #121
`Functional Inputs` refers to inputs becoming functional components, this is better for performance, also `Vue.extend` is a better way to provide such functionality as it may be tree-shaken by webpack as it will not be included for pages/code that doesn't use inputs at least in theory

[2020-06-01 17:04] EdwardMillen commented on #121
Ah yep that works, thanks for the super fast reply :D (I'd got as far as importing `IonInputVue` already to test whether it existed, but then didn't know how I would refer to it)

And that makes sense regarding performance so I'll only import it in the pages where I use it.

I am also having a sort-of related issue, so I hope it's ok to ask here - password inputs use `clearOnEdit` by default, whic

[2020-06-01 17:38] EdwardMillen commented on #121
It seems that the object it's checking for the `clearOnEdit` property _is_ the actual `<ion-input>` DOM element (so I'm not sure why it's not picking up the `clearOnEdit` attribute from there). So I've found I can refer to that in Vue by setting `ref="password"` as an attribute and using the code `  mounted: function() {
    this.$refs.password.clearOnEdit = false;
  },`

That seems to do the job,

[2020-06-01 17:56] michaeltintiuc commented on #121
Yeah, unfortunately it's a quick with how Vue parses camelCase properties and in case of Ionic they expect a dash-case attribute, so on your case you'd have to do `clear-on-edit="false"` thanks for reporting this, I'll create an issue for that and fix in the upcoming versions as it's not quite comfortable to use with dynamic data

[2020-06-01 19:17] EdwardMillen commented on #121
`clear-on-edit="false"` works so I'll just use that for now, that's perfect, thanks :D

[2020-06-01 19:17] #121 closed

[2020-06-03 17:04] edtownend commented on #120
OK, this got weirder yet for me. I'm using @vue/cli-service@4.4.1 and @ionic-vue@0.0.9.

None of the solutions worked for me because the svgs always got output to /img/, while the app was looking for them in /svg/. Couldn't figure out what was causing it so I ended up altering the webpack config via vue.config.js like this:

[code]

Interestingly after that, all of the icons end up in /svg without

[2020-06-04 03:04] EdwardMillen commented on #120
I'm not sure if things are different in **@ionic/vue** (and also it might depend what version of **@ionic/core** you are using?), but mine (using this project, which is **@modus/ionic-vue**) didn't/doesn't seem to output svgs anywhere at all. It does seem like it looks for unknown icons in /svg/ by default, but I think that is meant to be as a fallback for the case of adding your own custom icons,

[2020-06-04 10:12] michaeltintiuc commented on #120
@edtownend switching to latest ionic-vue and ionic/core should fix this for you. ionicons used to rely on this webpack config awhile back, they have switched to imports in order to not import *all* the icons and leverage tree-shaking.

[2020-06-05 07:13] edtownend commented on #120
@michaeltintiuc Thanks, I only had @ionic/vue installed and not @ionic/core. That seemed to do the trick - though I had to also install the older ^4.6.3 version of ionicons because I got the error  `Interface 'HTMLIonIconElement' cannot simultaneously extend types 'IonIcon' and 'IonIcon'.` with the bundled 5.x ionicons

[2020-06-05 07:30] grgur commented on #120
Thanks for sharing this know-how with the community @edtownend 🙌

[2020-06-08 17:21] jaygarcia opened #122 "Unit tests"

[2020-06-09 08:49] michaeltintiuc opened #123 "add props and better typing to defineContainer and other factory functions"
Add Prop type to `FunctionalComponent` generic and add props property to the created component.

Proof of concept:
[code]

See this library and it's guide on updates to rollup config:
https://github.com/kimamula/ts-transformer-keys

[2020-06-09 11:01] michaeltintiuc opened #124 "Add IonIcon component"

[2020-06-09 11:03] #124 closed

[2020-06-09 13:55] michaeltintiuc opened #125 "Create remaining wrapper components"
Pretty much everything from here:
https://ionicframework.com/docs/api

Most of these components will be created via `defineContainer` in `containers.ts`

Best if done after #123

[2020-06-09 14:49] michaeltintiuc opened #126 "Improve tree-shaking and code splitting, currently it's just a single chunk of ~25kb"

[2020-06-12 01:03] majormarquis opened #127 "Inputs don't blur when making swipe gesture"
Hello, I noticed that input fields are still in focus when making gestures such as open/close menu swipe gesture, swipe-to-close modal gesture. The keyboard is still taking close to half of the screen which seems a bit bad for UX.

Example video:
In this case I try to close a modal using the swipe-to-close gesture. As soon as I start the gesture I'd expect that the input field blurs, but it doesn'

[2020-06-15 17:00] michaeltintiuc commented on #127
Thanks for the issue, have you tested this behavior with Angular or React versions of Ionic. ionic-vue is does not handle any such things and it seems to me like it could be an issue on ionic's side. You should however be able to hook into the modal's dismiss event to blur the input

[2020-06-16 12:41] jakubkoje opened #129 "Force mode to ios"
Hey, I noticed that when I try to force Ionic to use ios mode on browser/android, it doesn't change to ios.
I tried 2 different installations, both with no luck.
`Vue.use(Ionic, { mode: 'ios' }); /
Ionic.install(Vue, { mode: 'ios' });`

On @ionic/vue it is working.
Thanks for help.

[2020-06-16 13:10] michaeltintiuc commented on #129
Thanks for the issue @jakubkoje working on a fix

[2020-06-16 13:26] #129 closed

[2020-06-16 13:27] michaeltintiuc commented on #129
@jakubkoje for v2 try `1.3.9` and for v3 `3.0.0-alpha.5`

[2020-06-16 13:39] jakubkoje commented on #129
Wow, that was fast. It's now working. Thanks.

[2020-06-20 09:58] michaeltintiuc opened #130 "Keep alive with router"
Add keepAlive prop to IonRouterView in order to enable keep-alive functionality for the rendered component

[2020-06-20 09:59] #114 closed

[2020-06-22 14:01] #125 closed

[2020-06-22 14:01] #126 closed

[2020-06-22 14:15] michaeltintiuc opened #131 "Add tabs lifecycle events (tab did and will change)"

[2020-06-27 18:22] #130 closed

[2020-07-03 12:15] #123 closed

[2020-07-07 07:47] NunoSav opened #132 "Navigation error on Android 6"
I'm upgrading a @ionic/vue project to @modus/ionic-vue and so far i've found this one error when going back in navigation. I can push new routes just fine, it's just the _going-back_ that throws the following error:
`Uncaught (in promise) TypeError: r.scrollTo is not a function`

This only happens on Android 6, i've also tested iOS(latest) and Android 9.

Possible reason ([source](https://capacito

[2020-07-07 13:03] NunoSav commented on #132
I fixed this issue by updating Android System Webview through Play Store.
This however means that customers using the app with a outdated webview will run into issues. Is it possible to add a check for `scrollTo` existence?

[2020-07-07 16:01] michaeltintiuc commented on #132
Thanks for reporting this @NunoSav could you share what version of @modus/ionic-vue are you running and perhaps sharing example code and/or a stacktrace?
I have lead, but would like to confirm the version first, perhaps you're landing on a route that doesn't have ion-content or some other edge case is causing scrollElement to evaluate to false, either way it's a logic mistake on my part, it's a qu

[2020-07-07 16:11] NunoSav commented on #132
I also thought this could be related to Capacitor so i opened an issue with them (closed now) so i had to create a sample.
[Here](https://github.com/NunoSav/capacitor-scroll-to-error) it is. Hope it helps.

[2020-07-07 17:50] michaeltintiuc commented on #132
@NunoSav give it a try with `1.3.10` please and let me know

[2020-07-08 08:06] NunoSav commented on #132
The only physical device that i have running with Android 5/6 has the System Webview updated so i'll try emulator for now. In the next week or so i will receive a Android 5 phone and will test with it as well.

Thanks for the effort.

[2020-07-08 12:52] michaeltintiuc commented on #132
@NunoSav I don't think it's related to webview or devices, pretty sure that was just a logic error on my part, but let me know if it comes back. Thanks for the tests!

[2020-07-08 12:52] #132 closed

[2020-07-09 07:50] michaeltintiuc commented on #127
Please reopen if/when you'll have more information to work with

[2020-07-09 07:50] #127 closed

[2020-07-09 07:50] #105 closed

[2020-07-09 07:52] michaeltintiuc commented on #103
You can give a try with the vue 3 version, `npm i @modus/ionic-vue@next` it's not separate routers per tab as that's not quite possible with Vue or even web history as the end of the day, but the behavior is much closer to what is expected

[2020-07-09 09:12] #131 closed

[2020-07-09 09:13] michaeltintiuc opened #133 "Do not reset scroll on cancelled swipe-back"

[2020-07-14 17:51] michaeltintiuc opened #134 "IonRouterView should follow the same design principles as RouterView allowing to be wrapped by KeepAlive, Suspense components etc, by using slot props instead"

[2020-07-14 18:13] #134 closed

[2020-07-16 23:02] #122 closed

[2020-07-20 16:51] michaeltintiuc opened #135 "handle href component attribute same as RouterLink to attr"

[2020-07-20 20:16] #133 closed

[2020-07-20 20:16] #135 closed

[2020-07-23 15:15] 509dave16 commented on #120
And if for some reason you wanted to add all of the icons and use their kebab case name, you could do something like the following:
[code]

[2020-08-05 18:57] a-Leong opened #136 "IonMenu contentId attribute not recognized"
_In Vue 3 prerelease_

I'm encountering a consistent issue where the IonMenu's required `contentId` attribute is not recognized. The menu does not work, an error is thrown and these messages appear in the console:
[code]

Inspecting the IonMenu element, the attribute is `contentid`(incorrectly cased). Occasionally, hot-reloading after a modification to the file containing the IonMenu temporarily f

[2020-08-06 08:15] michaeltintiuc commented on #136
Thanks for creating the issue, this should be fixed soon with a newer version of ionic/core, the issue as you've noticed is the casing, unfortunately with Vue3 it's impossible (at least for the time being) to force prop and event casing, I've worked with the ionic team on this and the result is the ability to define custom casing when registering custom elements. I plan on getting this resolved wi

[2020-08-06 11:02] michaeltintiuc commented on #136
I've just looked at it again and it doesn't have to do with anything I've described above, will try to reproduce it locally, have you tried using IonMenu instead of ion-menu?

[2020-08-06 16:12] a-Leong commented on #136
Yes, same issue using IonMenu

[2020-08-06 20:09] michaeltintiuc commented on #136
I've just tried with the same versions as you, everything seems to be working just fine, here's the ionic/vue3 examples app I'm testing everything with: https://github.com/michaeltintiuc/ionic-vue-3-example

[2020-08-06 20:10] michaeltintiuc commented on #136
Try removing node_modules and reinstalling, for some reason it seems like updating to newer versions without doing that breaks stuff

[2020-08-06 22:20] a-Leong commented on #136
I had tried removing and reinstalling node_modules, but after your suggestion I removed package-lock.json as well and that did the trick. Thanks so much for your help!

[2020-08-06 22:21] michaeltintiuc commented on #136
Happy to help!

[2020-08-06 22:31] #136 closed

[2020-08-07 12:34] meoweloper commented on #103
I'm trying to test out the tabs functionality with Vue 3 and ionic-vue@next, and I'm stuck.

[code]

I've made a setup like its described in the https://ionicframework.com/docs/api/tabs , just adapted to ionic-vue components, and I keep getting these errors.

<img width="689" alt="Screenshot 2020-08-07 at 14 32 06" src="https://user-images.githubusercontent.com/1159476/89645774-d35fa980-d8ba-11ea-

[2020-08-07 14:35] michaeltintiuc commented on #103
Sure, here's my setup with a router:
[code]

Each component rendered by the router is similar to this:
[code]
In this example each tab has sub-routes for navigation, meaning that in order to resolve IonRouterView we'd be using the router's nested routes defined by the `children` prop:
[code]
Note that we're using `RouterView` within `IonTabs` as we don't need any transitions and just want a route

[2020-08-07 17:22] meoweloper commented on #103
Thanks a lot. You've pointed me in the right direction with the multiple nested children routes. To be honest it seems a little odd that you have 2 levels of children routes required to have tabbed routing, but I guess it makes sense because root tab routes should not have animation.

I have one more issue, and I think it's related to tabs. ios swipe back gesture doesn't work, it just freezes, and

[2020-08-07 21:05] michaeltintiuc commented on #103
@meoweloper Please see this PR against your repo https://github.com/meoweloper/ionic-vue-3/pull/1
The tabs work, but you pointed out a type-o in the router outlet, I'm going to release a new version ASAP, thank you!
Please note that swipe-back currently does not have a limit to itself, meaning that you can swipe back past the tab's root route, the fix is in the works, the router will have separate

[2020-08-07 21:10] michaeltintiuc commented on #103
See version `3.0.0-alpha.14` should be available in a bit

[2020-08-07 21:11] meoweloper commented on #103
Glad to hear that separate history is in the works, I think thats the missing piece that will push tabs to a beta state.

[2020-08-07 21:17] meoweloper commented on #103
I found that same issue component type, just didn't know how to fix it 👶 ⌨️

[2020-08-08 00:25] michaeltintiuc commented on #103
Are you saying you get the same error?

[2020-08-08 00:27] meoweloper commented on #103
No, you fixed it in alpha.14. Just saying I failed to fix it myself.

[2020-08-08 00:41] michaeltintiuc commented on #103
It was a library issue that I introduced some time ago, it's on me :)

[2020-08-10 15:27] meoweloper opened #137 "IonTabs and IonPage not compiled in the build"
I've been trying to troubleshoot some IonTabs behaviour and I've set up the development environment with npm link as described in the readme. When I try to update the IonTabs file, changes are not present in the ionic-vue.esm.js. Then I've realized that IonTabs and IonPage are not in the production build when I install the package regularly on my project. Am I missing something?

[2020-08-10 15:30] michaeltintiuc commented on #137
npm link doesn't always work well, in my experience webpack ignores that, so I just build the lib manually with `npm run dev` and copy the contents of `dist` to my projects node_modules. This approach works with hot reload too

[2020-08-10 15:35] michaeltintiuc commented on #137
also IonPage is not a component that is exported, usually it's just `div.ion-page`

[2020-08-10 16:00] meoweloper commented on #137
Npm link actually works fine for me, the problem is that IonTabs seems to be the component that is also not exported

[code]

[2020-08-10 16:05] michaeltintiuc commented on #137
When I run `npm run dev` or `prod` I can see IonTabs in the generated build files, not sure what's going on in your case tbh, have you checked out the `dev` branch?

[2020-08-10 16:08] michaeltintiuc commented on #137
Are you talking about vue2 or vue3 version? Given the code you shared above it looks like Vue 2, in the Vue 3 alpha there's no navigation dir or file anymore:
[code]

[2020-08-10 16:14] meoweloper commented on #137
Ah, sorry, its Vue2

[2020-08-10 16:32] michaeltintiuc commented on #137
My bad, looks like I made a mistake of exporting anonymous objects as default, should be fixed now in v1.3.11 514ab2654549278013ecf252d20d5a221e8760eb

[2020-08-10 16:58] meoweloper commented on #137
Yeah, that solved it. Thanks! 🙇

[2020-08-11 16:53] michaeltintiuc opened #138 "IonRouterLink integration for transition directions and animations"

[2020-08-11 16:53] michaeltintiuc opened #139 "Add IonPage component"

[2020-08-11 16:54] michaeltintiuc opened #140 "Fix handling of target attribute"

[2020-08-11 16:56] #140 closed

[2020-08-11 16:57] #139 closed

[2020-08-11 16:57] #138 closed

[2020-08-11 16:57] michaeltintiuc opened #142 "Stacked navigation, each tab has it's out history state"

[2020-08-12 10:22] meoweloper commented on #137
I have different issue, but its related to this one so I've reopened it just to avoid creating another.

The fix you did solved the issue that its now exporting and shows in the build in dist folder. But ion page and ion tabs components are still not used in the project instead of the native ionic ones. It does not override them when i use ion-tabs in the project.

I saw for inputs there is a "Vue

[2020-08-12 15:45] #137 closed

[2020-08-12 15:48] michaeltintiuc commented on #137
My bad @meoweloper it was quick sometime since I worked with Vue 2, this should be fixed in the newly released version, don't forget to import the components and define them in the components prop of your component [insert xzibit meme here]. I've renamed IonPage to IonPageVue to go in line with the other ones.

[2020-08-12 16:08] meoweloper commented on #137
Didn't know you had to import them 🤦 I thought they were all autoloaded when you state Vue.use(Ionic). Now it makes more sense. Actually, it was not needed to add the "Vue" suffix to the naming, because locally registered components take priority over global ones?

No worries, I'm trying to make some production app using ionic-vue, because I don't expect to Vue 3 ecosystem catch up till the end of

[2020-08-12 16:12] michaeltintiuc commented on #137
:D they're not autoloaded in order to not include them in the final build if they're not used, this is true of input components as well.

[2020-08-12 19:34] michaeltintiuc opened #143 "Restore scroll when switching tabs (same as switching between normal routes)"

[2020-08-12 19:34] michaeltintiuc opened #144 "when swiping back, do not add 'can-go-back' class if the component is at /"

[2020-08-13 01:18] a-Leong opened #145 "Unable to get value from IonRadioGroup"
I'm unable to get data binding working correctly for IonRadioGroup: [example](https://github.com/a-Leong/ionic-vue-3-example).

The above example takes approach outlined in https://github.com/ModusCreateOrg/ionic-vue/issues/51:
[code]
however the value of property foo does not change. Also tried:
[code]
and
[code]

[2020-08-14 00:52] EdwardMillen opened #146 "Can't get tabs to work at all"
Sorry if I'm missing something obvious here. I'm trying to add a tab bar to my app (based on Vue 2) for the first time, and I just can't get it to work at all. I've looked through all the other issues I could find here relating to tabs, and tried various bits of code from them and the examples referenced by them, but I'm not even getting as far as having the issues they've encountered.

I've tried

[2020-08-14 12:23] michaeltintiuc commented on #145
Hey @a-Leong , thanks for creating the issue. I've just release 3.0.0-alpha.15 and it should now be fixed, reopen the issue if anything goes wrong.

[2020-08-14 12:23] #145 closed

[2020-08-14 12:27] michaeltintiuc commented on #146
Hey @EdwardMillen , unfortunately tabs in the current version of ionic-vue aren't very straightforward to setup and indeed, the lack of examples doesn't help either. I'll whip up one shortly and let you know. But I think I'll be porting the implementation of the Vue3 version over. As I recall it the reason I implemented it that way was that ionTabButton didn't have an href attribute back then (ion

[2020-08-14 12:54] EdwardMillen commented on #146
Thanks :) and yeah from what I've read about the Vue 3 version you've been working on, it does sound like that will be better overall anyway, so that being ported over sounds good to me. I'm just a bit stumped as to why I can't get it working at all in the meantime though, so an example for the current version would be great.

[2020-08-14 14:11] meoweloper commented on #146
Here is my implementation if it can help.

routes.js file

[code]

Tabs.vue

[code]

As you can see you need to import IonTabsVue and use it as a component so you can have access to :routes prop
In :routes prop you define the routes that should show the tab when you land on the url.

Also there is my "hack" for preventing router animation when switching from tab to tab, I'm passing animate param a

[2020-08-14 14:36] EdwardMillen commented on #146
Aha! I've got it working now based on that example, thanks! :D

All the code I'd seen so far just used `<ion-tabs>` rather than `<ion-tabs-vue>` (and so didn't have the import etc either). Changing that has made it work in some way at least, so now I can experiment with the rest and hopefully get it working well enough to use for now until the better version is ported.

[2020-08-14 14:38] meoweloper commented on #146
Glad you've got it to work. I've just realised that my example is tabbed navigation with routes, and that you've most probably wanted just a simple tabs example. In my mind when you say "Tabs" its "Tabbed mobile navigation", so sorry about that overkill :)

[2020-08-14 14:38] michaeltintiuc commented on #146
Glad to hear that! Thanks @meoweloper btw!

[2020-08-14 16:49] EdwardMillen commented on #146
@meoweloper it is for mobile navigation, but I wasn't sure exactly how I wanted it to work yet so just wanted to get the basics of it working first and then build on it from there. I've already found I needed to add the `name` attribute to the `<ion-vue_router>`s and add matching names to the components in the routes, to stop it loading multiple instances of each page at once, so your example was

[2020-08-18 10:53] michaeltintiuc opened #147 "Vetur support"

[2020-08-19 22:06] #147 closed

[2020-08-27 19:30] a-Leong opened #149 "Component Methods"
I am wondering how I can utilize Ionic component methods, for example the `scrollToBottom()` method on IonContent. Prior to alpha 15 I was using template refs:
[code]

however this no longer works, throws an error that `scrollToBottom` — or any component method — is undefined. What is the best way to access component methods at this point?

[2020-08-27 23:30] michaeltintiuc commented on #149
Interesting, not sure what could've caused this except for some initialization issues, but seems like now it's working as expected for you. The ref is a Vue object and as such they do not have methods, to access Ionic methods you'd do `ionContentRef.value.$el.scrollToBottom()`

[2020-08-27 23:41] a-Leong commented on #149
Great, thank you for that insight!

[2020-08-27 23:41] #149 closed, assigned to nobody

[2020-08-27 23:51] michaeltintiuc commented on #149
I will however entertain the idea of removing the need for the extra `$el` will give it a shot and see how it performs!

[2020-08-28 15:50] lahdekorpi opened #150 "Using individual components with Vue 3"
Hi!

I've been playing around with the Vue 3 implementation on the dev branch and was curious if there is a way to use individual components, like ion-card, ion-button, etc without initializing IonicVue and createRouter? I may have missed it but the readme was a bit unclear on this.
Just to clarify, the instructions on the readme work great if you use it as intended there, but I would like to use

[2020-08-28 18:38] michaeltintiuc commented on #150
Thanks for the kind words! Yes, you can omit the router, but you still need to initialize Ionic via `app.use(IonicVue)` this is where all the web-components are registered etc, you can however import only the components you need making your build size rather small. If you app doesn't require a router, that's fine, don't use it. Currently the vue-router will still be pulled in as a dependency, due

[2020-08-28 19:24] michaeltintiuc commented on #150
To be clear, you can use the official VueRouter without any issues, just use `<router-view />` instead of `<ion-router-view />` it's a drop-in replacement

[2020-09-26 19:00] michaeltintiuc opened #151 "IonMenu and KeepAlive issue (requires discussion with Ionic)"

[2020-09-26 19:05] #144 closed

[2020-09-28 11:09] #151 closed, assigned to nobody

[2020-09-28 11:09] michaeltintiuc opened #153 "Trigger IonTabs events when navigating via router"

[2020-09-28 11:09] michaeltintiuc opened #154 "Add `events` docs to vetur"

[2020-10-04 11:45] #150 closed, assigned to nobody

[2020-10-04 11:47] #101 closed